@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(fonts/BadScript.ttf); /* Путь к файлу со шрифтом */
}



.title {
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    background: blue;
    color: white;
    padding:  20px 0;
}

.new_business {
    width: 80%;
    height: 30px;
}

.add {
    margin: -10px;
    height: 36px;
    background: darkseagreen;
    border: none;
}
.add:hover {
    color:white;
    background: red;
}
.delete{
    margin: 0;
    float: right;
    width:30px;
    height: 30px;
    border: none;
    vertical-align: middle;
    opacity: 0;
}
.delete:hover{
    margin: 0;
    float: right;
    background: red no-repeat center url("img/delete.png");
    background-size: 80%;
    width:30px;
    height: 30px;
    border: none;
    vertical-align: middle;
    opacity: 100;
}



ul{
    margin: 0;
    margin-left:-40px;
}

.undoList {
    text-decoration: line-through;
}

.list{
    font-family: Pompadur;
}


ul li{
    border: 1px solid green;
    height: 30px;
    list-style-type: none;
    vertical-align: middle;
    background-color: azure;
    font-weight:700;
    padding-left: 20px;
    cursor: pointer
}

.check{
    background: no-repeat center url("img/check.png");
    background-size: 80%;
    float: left;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-right: 10px;
    opacity: 0;
}
.uncheck{
    opacity: 100;
}

li:nth-child(even){
    background-color: ghostwhite;
}